[user]
    name = Tyler Davis
	email = tydavis@gmail.com
[push]
    default = simple
[core]
	editor = nvim
	excludesfile = /home/tydavis/.gitignore_global
[credential]
	helper = store --file=/home/tydavis/.config/gitcreds
[credential "https://gitlab.nordstrom.com"]
    username = cm0l
[credential "https://source.developers.google.com"]
    helper = gcloud.sh
[url "https://gitlab.nordstrom.com/"]
    insteadOf = git@gitlab.nordstrom.com:
[http]
	cookiefile = /home/tydavis/.gitcookie

[protocol]
    version = 2
[fetch]
    parallel = 4
    writeCommitGraph = true
[status]
    submodulesummary = 1
[pull]
    ff = only
[hub]
    protocol = https
[init]
    templateDir = ~/.config/git/template/
[difftool]
	cmd = nvim -d    -c 'wincmd w' -c 'wincmd J'
